body{
    background-color: antiquewhite;
}
.red{
    height: 100px;
    width: 100px;
     background-color: red;
    position: relative;
}
.yellow{
    height: 100px;
    width: 100px;
   background-color:  yellow;
    position: relative;
}
.blue{
    height: 100px;
    width: 100px;
   background-color:  blue;
    position: relative;
}